In [1]:
import pandas as pd
import numpy as np

In [2]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index = list(zip(outside,inside))

In [6]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns= ['A', 'B'])

In [10]:
df

             A         B
G1 1  0.418425 -2.291348
   2  0.891681 -1.655216
   3  0.450355  0.765987
G2 1  0.421281  0.486147
   2  0.309411  0.961524
   3  1.827803  1.249382

In [14]:
df.loc['G1'].loc[1]

A    0.418425
B   -2.291348
Name: 1, dtype: float64

In [16]:
df.index.names = ['Grupo', 'Numero']

In [17]:
df

                     A         B
Grupo Numero
G1    1       0.418425 -2.291348
      2       0.891681 -1.655216
      3       0.450355  0.765987
G2    1       0.421281  0.486147
      2       0.309411  0.961524
      3       1.827803  1.249382

In [19]:
df.xs('G1')

               A         B
Numero
1       0.418425 -2.291348
2       0.891681 -1.655216
3       0.450355  0.765987

In [21]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.418425 -2.291348
G2     0.421281  0.486147